header, footer{
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
}

header {
    margin-bottom: 50px;
}

.content {
    padding-left: 50px;
    padding-right: 50px;
}

.col-xs-1 {
    width: 100%;
  }
  
@media (max-width: 480px)
  .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-auto {
    -ms-flex: none;
    flex: none;
  }