*{
  margin:0;

  box-sizing: border-box;
}

body{
  display:flex;
  flex-direction:column;
  align-items:center;
  
  min-height:100vh;
  background:#f6f6f6;
  
  font-family: 'Roboto', sans-serif;

}

header{
  display:flex;
  align-items:center;
  justify-content:space-between;
  
  min-height:70px;
  width:100%;
  background:#448AFF;
  
  box-shadow: 0 0 1px rgba(0,0,0,0.14),0 1px 4px rgba(0,0,0,0.28);
  
  z-index:1;
}


header .menu-icon{
  margin:7.5px 15px;
  font-size:30px;
  opacity:0;
  visibility:hidden;
  color:#123113;
}

header h1{
  margin:0;
  color:#fefefe;
  text-align:center;  
  text-shadow: 1px 1px 4px #454545;
}

header sub{
  font-size:15px;
}

header .primary-header-content, .secondary-header-content{
  display:flex;
  align-items:center;
  height: 18px;
}

nav{
  flex:1 1 auto;
}

nav ul{
  display:flex;
  justify-content:flex-end;
  list-style:none;
  font-size:16px;
  color:white;
  cursor: pointer;
}

nav ul li{
  display:flex;
  flex-direction:column;
  align-items:center;
  
  margin:0 30px;
  max-width:80px;
  text-shadow: 1px 1px 4px #454545;
}

nav ul li i{
  font-size:30px !important;
}

header .search-area{
  display:flex;
  justify-content:center;
  align-items:center;
  
  margin: 0 20px;
  padding:5px 0;
  max-height:35px;
  
  box-shadow: 0 0 1px rgba(0,0,0,0.14),0 1px 4px rgba(0,0,0,0.18);
  
  border-radius:1px;
  background:white;
  overflow:hidden;
  transition: height .3s cubic-bezier(.68,-.55,.265,1.55),color .3s ease;
}


header .search-area .search{
  border:none;
  background:#f6f6f6;
  padding: 0 10px;
  height:30px;
  outline: none;
  background:white;
  width:200px;
  
}

/*Search icon*/
header .search-area i{
  font-size: 30px;
  color:#123113;
}

/*Side-bar*/
.side-bar{
  position:absolute;
  top:0;
  left:-300px;
  z-index:2;
  
  width:250px;
  height:100%;
  background:white;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.24), 2px 0 20px rgba(0, 0, 0, 0.46);
  
  transition: all 0.4s ease;
}

.side-bar-visible{
  transform: translate3d(300px,0,0);
}

.side-bar-primary-area{
  height:115px;/*115px;*/
  background: #448AFF;
}

.side-bar-nav{
  /*we'll reuse some of the nav properties*/
  flex-direction:column;
}

.side-bar-nav li{
  /*we'll reuse some of the nav properties*/
  flex-direction:row;
  justify-content:space-between;
  max-width:100%;
  margin: 0 15px;
  color: #747474;
  text-shadow:none;
  height:40px;
  border-bottom:1px solid #F6F6F6;
}

/*Content area {Start}*/
div[role='main']{
  width:70%;
  flex:1 1 auto;
  background:white;
  box-shadow: inset 0 0 1px #ADADAD;
}

.secondary-search-area{
  background:#F6F6F6;
  height:45px;
  visibility:hidden;
  opacity:0;
}
/*Content area {End}*/


/*Action buttons*/

.action-wrapper{
  z-index:2;
}

.action-wrapper:hover > .sub-button-wrapper{
  visibility:visible;
  opacity:1;
  transform: scale(1);
}

.sub-button-wrapper{
  position:absolute;
  bottom:60px;
  right:5%;
  
  margin: 0 7.5px;
  
  display:flex;
  flex-direction:column;
  
  transition:all 0.3s ease;
  transform: scale(0.7);
  
  visibility:hidden;
  opacity:0;
  
}

.primary-button{
  position:absolute;
  bottom:10px;
  right:5%;
  
  height:50px;
  width:50px;
  background: #d23f31 url(https://ssl.gstatic.com/bt/C3341AA7A1A076756462EE2E5CD71C11/1x/btw_ic_speeddial_white_24dp.png) center center no-repeat;
}

.secondary-button{
  height:35px;
  width:35px;
  background:#03A9F4;/*#00BCD4;#448AFF;#ffc107;*/
  margin:5px 0;
  color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}

.action-button{
  border-radius:50%;
  border:none;
  outline: none;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
}


.overlay{
  position:fixed;
  top:0;
  left:-100%;
  background:rgba(0, 0, 0, 0.68);;
  width:100%;
  height:100%;
  z-index:1;
  
  visbility:hidden;
  opacity:0;
  
  transition: visibility 0.1s linear;
}

.visible{
  left:0;
  visbility:visible;
  opacity:1;
}

@media screen and (max-width:900px){
  
  header{
    flex-direction:column;
    align-items:flex-start;
    justify-content:center;
  }
  
  header .primary-header-content {
    margin-top:18px;
  }
  
  header .secondary-header-content {
    align-self:flex-end;
  }
  
  header .menu-icon{
    opacity:1;
    visibility:visible;
    
    cursor: pointer;
    -webkit-user-select:none;
  }
  
  header nav{
    display:none;
  }
  
  
  header .search-area{
    margin:0 15px;
    transform: translate3d(0,40px,0);
    background: #f6f6f6;
    box-shadow:none;
  }
  
  header .search-area .search{
    width:calc(100vw - 60px);
    background: #f6f6f6;
  }
  
 
  div[role='main']{
    width:100%;
  }
  
  .secondary-search-area{
    visibility:visible;
    opacity:1;
  }
  
}


/*Material Icons*/
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
